@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.menu {
    width: 90%;
    padding: 5px;
    margin: auto;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 4.5%;
}

dl {
    margin: 0;
    overflow: auto;
    width: 100%;
}

dt,
dd.price {
    background-color: rgb(246, 246, 246);
    font-size: 1.3rem;
    font-weight: bold;
    float: left;
    height: auto;
}

dt {
    color: #232323;
    float: left;
    padding-right: 3px;
}

dd {
    margin: 0;
}

dd.price {
    color: #1d1d1d;
    float: right;
    padding-left: 3px;
}

dd.ingredients {
    color: #a30808;
    font: italic 1.2em Georgia, Times, sans-serif;
    float: left;
    padding: 2px;
}

#price {
    color: #a30808;
}

.div-imgApi {
    display: flex;
    align-items: center;
    gap: 20px;
}

.imgApi {
    width: 100px;
    height: 100px;
    padding: 5px;
    overflow: hidden;
    margin-left: 15px;
    border-radius: 50%;
}

#logo-menu {
    width: 16vw;
}

#menu-title {
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Bangers', cursive;
    color:#a30808;
    border-radius: 40px;
}

.background-menu {
    width: 100%;
}

.test {
    display: flex;
    background-color: #ffc500;
}

.command-client {
    width: 100%;
    max-height: 35vh;
    font-size: 2rem;
    font-weight: 600;
    margin: 2%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}

.input-background {
    background-color: rgb(255, 255, 255);
    padding-left: 1.8%;
}

.command-list {
    text-align: start;
    font-size: 1.5rem;
}

.add-button {
    width: 35%;
    height: 4vh;
    background-color: #a30808;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
}

#button-input {
    width: 5%;
    height: 6vh;
    background-color: #a30808;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    float: right;
    margin: 5px;
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
    .imgApi {
        width: 7rem;
    }

    #logo-menu {
        width: 25vw;
    }

    #menu-title {
        font-size: 3.5rem;
    }

    #menu-title {
        font-size: 4rem;
    }

    #button-input {
        width: 10%;
    }
}