@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,100;1,400;1,700&display=swap');

body {
    font-family: 'Roboto';
    font-weight: 400;
    background-color: #FFEEB2;
}

.box-logo {
    width: 100%;
    height: 100%;
    padding: 40px 5px 40px 5px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 20px 20px;
}

.logo {
    width: 20vw;
}

.text-links {
    width: 100%;
    display: flex;
    position: absolute;
    top: 30%;
    justify-content: space-around;
    font-size: 1.7rem;
}

.login {
    text-decoration: none;
    color: rgb(24, 24, 24);
    border-bottom: 5px solid rgb(103, 31, 0)
}

.criar {
    text-decoration: none;
    color: rgb(24, 24, 24);
}

.login-register{
    text-decoration: none;
    color: rgb(24, 24, 24);
}

.criar-register{
    text-decoration: none;
    color: rgb(24, 24, 24);
    border-bottom: 5px solid rgb(103, 31, 0)
}
.form-login {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    margin-top: 10%;
}

input {
    width: 40rem;
    height: 6vh;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    padding: 7px;
    margin: 5px;
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
    .text-links {
        top: 22.5%;
    }

    .box-logo {
        width: 100%;
        height: 100%;
        padding: 70px 40px 70px 5px;
    }

    .logo {
        width: 35vw;
    }

    .form-login {
        margin-top: 27%;
    }

}